.banner{
    width: auto;
    display: block;
    margin: auto;
}
h1{
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 2%;
}
h2{
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
body{
    background-color: black;
}
.container{
    color: white;
}
p{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}
.Lista{
    padding-top: 3%;
    padding-left: 10%;
}
header{
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 2%;
}

a:link{
    color: inherit;
}
link:visited{
    color: inherit;
}
link:hover{
    color: red;
}
link:active{
    color: black;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.col-2{
    width: 16,66%;
}
@media (max-width: 600px) {
    .linha {
      flex-direction: column;
    }
    .col-6 {
        width: 100%;
    }
}