.banner{
    width: auto;
    display: block;
    margin: auto;
}
h1{
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 2%;
}
h2{
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 2%;
}
body{
    background-color: black;
}
.container{
    color: white;
}
p{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}
.Album{
    padding-top: 3%;
    padding-left: 10%;
}
header{
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 2%;
}